log.md
*.lnk
*.log
*.mmdb
*.db
*.exe
*.svg
*.ico
*.html
*.nojekyll
*.js
config/GeoSite.dat
config/rule_set/fakeip/*
config/rule_set/fastoo/
config/rule_set/sukkaw_ruleset
config/rule_set/other_reject
config/proxy_provider/
config/ui/zashboard/*
logs/
config/otherfiles/proxies.yaml
